<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
        <title>Annual Report Search</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="/css/main.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/img/favicon-arsearch.png"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>        
    </head>
<!------ Include the above in your HEAD tag ---------->
<!------ https://bootsnipp.com/snippets/N6pQ6 ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<body>
<div class="wrapper">
<nav class="navbar navbar-dark bg-dark text-light justify-content-between">
    <a class="navbar-brand">Annual Report Search</a>    
    <form class="form-inline">
        <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Enter Search Phrase" aria-label="Search">
        <button id="search-btn" class="btn btn-outline-info my-2 my-sm-0" type="button">Search</button>                
    </form>
</nav>     
<div class="container-fluid">    
    <div class="row">
        <aside class="col-sm-3" style="margin-top:80px;">
            <div class="card">                
                <article class="card-group-item">
                    <header class="card-header filter-header"><h6 class="title">Year</h6></header>
                    <div class="filter-content">
                        <div id="year-filter" class="list-group list-group-flush">
                            <!-- <label class="btn btn-outline-success btn-sm"><input class="" type="checkbox" name="myradio" value=""><span class="form-check-label">Red</span></label>
                            <label class="btn btn-outline-success btn-sm">
                            <input class="" type="checkbox" name="myradio" value="">
                            <span class="form-check-label">Green</span>
                            </label>
                            <label class="btn btn-outline-success btn-sm">
                            <input class="" type="checkbox" name="myradio" value="">
                            <span class="form-check-label">Blue</span>
                            </label> -->
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
                <article class="card-group-item">
                    <header class="card-header filter-header"><h6 class="title">Company Name</h6></header>
                    <div class="filter-content">
                        <div id="company-filter" class="list-group list-group-flush">
                        <a href="#" class="list-group-item">Cras justo odio <span class="float-right badge badge-light round">142</span> </a>
                        <a href="#" class="list-group-item">Dapibus ac facilisis  <span class="float-right badge badge-light round">3</span>  </a>
                        <a href="#" class="list-group-item">Morbi leo risus <span class="float-right badge badge-light round">32</span>  </a>
                        <a href="#" class="list-group-item">Another item <span class="float-right badge badge-light round">12</span>  </a>
                        </div>  <!-- list-group .// -->
                    </div>
                </article> <!-- card-group-item.// -->
                
            </div> <!-- card.// -->
        </aside> <!-- col.// -->
        <div class="col-sm-9">
                <nav id="pagination" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center"></ul>
                </nav>               
                <div id="result-container" class="container"></div>
                <div id="modal-container"></div>
                
                <!-- template for modal -->
                <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">...</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>                    
                        </div>
                        </div>
                    </div>
                </div>        
                <!-- template for modal -->
    
                <!-- template for cards -->
                <div id="result-template" style="display:none" class="row">
                    <div class="col-sm">
                        <div class="card text-center">
                            <h5 class="card-header">Company Name</h5>
                            <div class="card-body">
                                <!-- <h5 class="card-title">AR Year</h5> -->
                                <p class="card-text"></p>
                                <!-- <a href="#" class="btn btn-primary">Annual Report PDF</a>  -->
                                <!-- <a href="#" class="btn btn-primary">View Page (text)</a> -->
                            </div> 
                            <div class="card-footer text-muted"></div>                       
                        </div>
                    </div>                                          
                </div> 
                <!-- template for cards -->
    
                <nav id="pagination" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center"></ul>
                </nav>   
        </div>	
    </div> <!-- row.// -->

</div> 
<!--container end.//-->
</div>
<div class="footer bg-dark text-light">
    <p>Handcrafted with <i class="fa fa-heart" style="color: red"></i> by <a href="https://anshulkhare.in/">Anshul</a></p>
</div>
<script src="/js/main-new.js"></script>
</body>
</html>