<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        
        <title>Annual Report Search</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="/css/main.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="/img/favicon-arsearch.png"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>        
    </head>
<!------ Include the above in your HEAD tag ---------->
<!------ https://bootsnipp.com/snippets/N6pQ6 ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<body>
<div class="wrapper">
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Annual Report Search</a>
    <button id="filters-btn" class="btn btn-outline-success btn-sm" type="button">
                Show Filters&nbsp;&nbsp;&#8681;
    </button>
    <form class="form-inline">
        <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button id="search-btn" class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>                
    </form>
</nav>     
<div class="container-fluid">    
    <div class="row">
        <aside class="col-sm-3">            
            <div class="card">
                <article class="card-group-item">
                    <header class="card-header"><h6 class="title">Year</h6></header>
                    <div class="filter-content">
                        <div class="card-body">
                            <label class="btn btn-outline-success btn-sm">
                            <input class="" type="checkbox" name="myradio" value="">
                            <span class="form-check-label">Red</span>
                            </label>
                            <label class="btn btn-outline-success btn-sm">
                            <input class="" type="checkbox" name="myradio" value="">
                            <span class="form-check-label">Green</span>
                            </label>
                            <label class="btn btn-outline-success btn-sm">
                            <input class="" type="checkbox" name="myradio" value="">
                            <span class="form-check-label">Blue</span>
                            </label>
                        </div> <!-- card-body.// -->
                    </div>
                </article> <!-- card-group-item.// -->
                <article class="card-group-item">
                    <header class="card-header"><h6 class="title">Company Name</h6></header>
                    <div class="filter-content">
                        <div class="list-group list-group-flush">
                        <a href="#" class="list-group-item">Cras justo odio <span class="float-right badge badge-light round">142</span> </a>
                        <a href="#" class="list-group-item">Dapibus ac facilisis  <span class="float-right badge badge-light round">3</span>  </a>
                        <a href="#" class="list-group-item">Morbi leo risus <span class="float-right badge badge-light round">32</span>  </a>
                        <a href="#" class="list-group-item">Another item <span class="float-right badge badge-light round">12</span>  </a>
                        </div>  <!-- list-group .// -->
                    </div>
                </article> <!-- card-group-item.// -->
                
            </div> <!-- card.// -->
        </aside> <!-- col.// -->	
    </div> <!-- row.// -->

</div> 
<!--container end.//-->
</div>
<div class="footer bg-light">
    <p>Handcrafted with <i class="fa fa-heart" style="color: red"></i> by <a href="https://anshulkhare.in/">Anshul</a></p>
</div>
</body>
</html>